aiohttp==3.7.4.post0
altgraph==0.17
anyascii==0.3.1
asgiref==3.4.1
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.9.1
bleach==3.1.4
caer==1.9.8
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
Django==3.2.8
django-debug-toolbar==3.2.2
django-filter==21.1
django-grappelli==2.15.1
django-modelcluster==5.3
django-ranged-response==0.2.0
django-simple-captcha==0.5.14
django-taggit==2.1.0
django-treebeard==4.5.1
djangorestframework==3.13.1
draftjs-exporter==2.1.7
entrypoints==0.3
et-xmlfile==1.1.0
future==0.18.2
geojson==2.5.0
html5lib==1.1
idna==2.9
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.3.1
l18n==2021.3
MarkupSafe==1.1.1
matplotlib==3.4.2
mistune==0.8.4
MouseInfo==0.1.3
multidict==5.1.0
mypy==0.910
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.21.0
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
openpyxl==3.0.9
pandocfilters==1.4.2
parso==0.6.2
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.1.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
PyAutoGUI==0.9.50
pygame==1.9.6
PyGetWindow==0.0.8
Pygments==2.6.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
PyMsgBox==1.0.8
pyowm==3.0.0
pyparsing==2.4.7
pyperclip==1.8.0
PyRect==0.1.4
pyrsistent==0.16.0
PyScreeze==0.1.26
PySocks==1.7.1
pyTelegramBotAPI==3.7.2
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2021.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==19.0.0
qtconsole==4.7.2
QtPy==1.9.0
requests==2.23.0
Send2Trash==1.5.0
six==1.14.0
soupsieve==2.0.1
sqlparse==0.4.2
tablib==3.2.1
telepath==0.2
terminado==0.8.3
testpath==0.4.4
toml==0.10.2
tornado==6.0.4
traitlets==4.3.3
typing-extensions==3.10.0.0
urllib3==1.25.8
wcwidth==0.1.9
webencodings==0.5.1
widgetsnbextension==3.5.1
Willow==1.4.1
xlrd==2.0.1
XlsxWriter==3.0.3
xlwt==1.3.0
yarl==1.6.3
