{% extends 'index.html' %}
{%block title%}Profile{% endblock %}
{%load static%}
{% block content %}
<style>
    .profile-head {
        transform: translateY(2rem)
    }

    body {
        background: url("https://images.wallpaperscraft.ru/image/single/derevyannyy_temnyy_fon_tekstura_55321_1920x1080.jpg") no-repeat center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
</style>
<!--Profile-->
<div class="mx-auto mt-3 row container">
    <!-- Profile widget -->
    <div class="col-8 mx-auto bg-black rounded text-warning " >
        <div class="px-4 pt-0 pb-4 row row-cols-2 mb-2">
            <div class="media align-items-end profile-head col text-center">
                <div class="profile col mx-auto">
                    {%if user.photo%}
                    <img src="{{user.photo.url}}"
                         alt="YourPhoto" width="80%" class=" mb-2 rounded border border-info">
                    {%else%}
                    <img src="{%static 'users/unknow.png'%}"
                         alt="YourPhoto" width="80%" class=" mb-2 rounded border border-info">
                    {%endif%}
                    <h3 class="mt-0 mb-0">{{user.username|upper}}   <small class="h5">{{user.first_name}} {{user.last_name}}</small>
                    </h3>
                    <b class="small mb-0"><i class="fas fa-map-marker-alt mr-2"></i>Age: {{user.age}} y.o</b>
                    <p class="text-info mb-0">Email: <small class="text-white">{{user.email}}</small></p>
                    <p class="text-info mb-0">Birthday: <small class="text-white">{% if user.birth_date %}{{user.birth_date}}{% else %} - {% endif %}</small></p>
                    <p class="text-info mb-0">Last login: <small class="text-white">{{user.last_login}}</small></p>
                    {% if request.user.id == user.id %}
                    <form action="{%url 'users:published_list'%}" class="mb-3" method="post">
                        <label>
                            {%csrf_token%}
                            Публичный список:
                            {% if user.is_published %}
                              <input name="published_list" value="Yes" type="submit" class="btn btn-success my-3" >
                            {% else %}
                              <input name="published_list" value="No" type="submit" class="btn btn btn-danger my-3">
                            {% endif %}
                        </label>
                    </form>
                    {%endif%}
                </div>
            </div>
            <div class="my-4 text-info col border border-white">
                <p class=" text-info fs-4">About</p>
                <p class="small text-warning">{{user.about_user}}</p>
            </div>
        </div>
    </div>
</div>
<!--FilmList-->
<div class="container-fluid ">
    {%if request.user.is_authenticated%}
        {%if user.is_published or request.user.id == user.id%}
            <!--Lists-->
            <form action="{%url 'users:profile' user.id%}" method="get">
                <ul class="nav  mx-2">
                    <li class="col nav-item border border-info mx-2 bg-dark">
                        <input type="submit" class="btn text-warning w-100" value="Abandoned" name="filmlist">
                    </li>
                    <li class="col nav-item border border-info mx-2 bg-dark">
                        <input type="submit" class="btn text-warning w-100" value="Viewed" name="filmlist">
                    </li>
                    <li class="col nav-item border border-info mx-2 bg-dark">
                        <input type="submit" class="btn text-warning w-100" value="Planned" name="filmlist">
                    </li>
                </ul>
            </form>

            <!--FilmList-->
            <div class="row mt-2 container-fluid text-center">
                <!--FilmInfo-->
                {%for myfilm in filminfo %}
                <div class="col-2 border boreder-white bg-dark ">
                    <form action="{%url 'users:profile' user.id %}" method="post">
                        <a class="text-warning" href="{%url 'main:movie_detail' myfilm.slug%}">
                            <p>{{myfilm.title}}</p>
                            <img class="w-100" height="75%" src="{{myfilm.poster_url}}" alt="{{myfilm.title}}"></a>
                        {% if request.user.id == user.id %}
                        {%csrf_token%}
                        {{form}}
                        <input hidden value="{{myfilm.id}}" name="filmid">
                        <button type="submit" class="btn btn-success">Изменить</button>
                        {%endif%}
                    </form>
                </div>
                {%endfor%}
            </div>
            <!--If list banned-->
        {%else%}
            <p class="text-warning text-center bold"> Данный пользователь огрнаичил доступ к своему списку</p>
        {%endif%}
    <!--If user no authenticated-->
        {%else%}
        <p class="small text-center text-warning">Только зарегестрированные пользователи могут смотреть списки</p>
    {%endif%}
</div>
{%endblock%}